.Auth-form-container{
    background: url('https://www.uhdpaper.com/') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
}
.sub {
    width: 16.5vw !important;
    margin-bottom: 10px !important;
}
.adm {
    width: 8.25vw !important;
    margin-right: .25vw !important;

}
.mgr {
    width: 8vw !important;
    margin-left: 1vw !important;
}